<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link rel="preconnect" href="https://fonts.googleapis.com">
			<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
			<link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;600;700;800&display=swap" rel="stylesheet">
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
		        	<li><a href="/index.html">Home</a></li>
					<li><a href="/research.html">Research</a></li>
	        		<li><a href="/cv.html">CV</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
        		<li><a href="mailto:ashwin17222@iiitd.ac.in">Email</a></li>
        		<li><a href="https://github.com/ashwin-19">Github</a></li>
				</ul>
			</footer>
		</body>
	</html>
